/*$themeColor: #507299;*/
/* Mogra-regular - latin */
@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  src: local("Mogra Regular"), local("Mogra-Regular"), url("../fonts/mogra-v3-latin-regular.woff2") format("woff2"), url("../fonts/mogra-v3-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/open-sans-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v13-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v13-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
  font-family: 'Open Sans'; }

body {
  font: 'Open Sans', Arial, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  color: black;
  background: #f4f4f4; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.page {
  flex: 1 0 auto; }

footer {
  margin-top: 30px;
  display: block;
  line-height: 50px;
  background-color: black;
  flex: 0 0 auto;
  color: white; }
a {
  color: black;
}
a:hover {
  text-decoration: none;
}


/* header*/
.header-top {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #465772;
  margin-bottom: 10px; }
  .header-top .nav {
    line-height: 46px; }

.logo h1 {
  margin: 0;
  height: 50px; }

.logo a {
  color: white;
  font-size: 30px;
  font-family: 'Mogra';
  font-weight: 300;
  line-height: 50px;
  height: 50px; }

/*SEARCH*/
.search {
  display: inline-block; }

/*SEARCH*/
.header-top .nav {
  float: left; }
  .header-top .nav > li {
    display: inline-block; }
  .header-top .nav > li + li {
    margin-left: 10px; }

.button {
  font-family: 'Open Sans', Arial, sans-serif;
  vertical-align: middle;
  background-color: #4abfb4;
  font-size: 16px;
  line-height: 26px;
  color: white;
  padding: 7px 15px;
  display: inline-block;
  border: none;
  border-radius: 4px; }

.user-top-block {
  display: inline-block; }

.user-block {
  white-space: nowrap;
  line-height: 5px;
  height: 5px;
  color: #fff;
  font-weight: 700; }
  .user-block .dropdown-menu {
    top: 55px;
    right: 0;
    left: initial; }
    .user-block .dropdown-menu::after, .user-block .dropdown-menu::before {
      position: absolute;
      pointer-events: none;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      bottom: 100%;
      right: 35px; }
    .user-block .dropdown-menu::after {
      border-width: 5px;
      margin: 0 -5px;
      border-bottom-color: #fff; }
    .user-block .dropdown-menu::before {
      border-width: 6px;
      margin: 0 -6px;
      border-bottom-color: #c5d0db; }

.dropdown.open {
  background-color: #616f8a;
  position: relative; }

.user-top-profile {
  height: 50px;
  background: none;
  padding: 0 5px;
  vertical-align: initial;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .user-top-profile:hover {
    color: #e7e7e7;
    background-color: #616f8a; }
  .user-top-profile:active {
    border: none;
    outline: none; }

.top-username {
  font-family: 'Open Sans';
  margin-right: 3px;
  vertical-align: middle;
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.top-image-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 35px;
  text-align: center;
  background-position: center center;
  background-size: cover; }

.top-image-profile {
  height: 100%; }

.post-block {
  margin-bottom: 15px;
  background: white;
  box-shadow: 0px 0px 3px 0px #ccc; }
  .post-block img {
    width: 100%; }
  .post-block .content {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 35px 50px 20px; }
    .post-block .content .post-title {
      float: left; }
      .post-block .content .post-title a {
        font-size: 22px;
        line-height: 22px;
        font-weight: bold;
        color: #465772;
        text-decoration: none; }
    .post-block .content .post-date {
      padding-left: 5px;
      line-height: 22px;
      float: right;
      color: #b9bec6;
      font-size: 24px; }
    .post-block .content p {
      font-size: 15px;
      line-height: 20px;
      font-family: Arial; }
    .post-block .content .text-center {
      position: relative; }
      .post-block .content .text-center::after {
        content: '';
        position: absolute;
        border: 1px solid #eee;
        width: 100%;
        left: 0;
        top: 34px;
        z-index: 1; }
    .post-block .content .read-more {
      position: relative;
      font-size: 15px;
      display: inline-block;
      color: #fe5d55;
      text-transform: uppercase;
      background: none repeat scroll 0 0 #fff;
      padding: 20px 20px;
      z-index: 2; }
  .post-block .post-comments {
    padding: 11px 10px;
    text-align: center; }
    .post-block .post-comments li {
      font-size: 15px;
      display: inline-block;
      color: #b1b8c2; }
      .post-block .post-comments li a {
        color: inherit;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
      .post-block .post-comments li i {
        margin-right: 5px; }
    .post-block .post-comments li + li {
      margin-left: 10px; }
    .post-block .post-comments a + a {
      margin-left: 5px; }

/* aside*/
aside {
  font-family: "Open Sans", sans-serif; }

.aside-block {
  background: #fff;
  padding: 20px 20px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 14px; }
  .aside-block .fa-search {
    font-size: 40px;
    color: #465772; }
  .aside-block h2 {
    padding: 15px 0;
    color: #232323;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 700; }
  .aside-block .subscribe {
    background: #f8f9fb;
    border: 1px solid #ededed;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .aside-block .subscribe-btn {
    border: 2px solid #465772;
    padding: 8px 20px;
    text-align: center;
    color: #465772;
    background: none;
    font-weight: 700; }

.caret {
  border-top-color: white; }

/**/
.auth {
  margin-top: 50px; }
  .auth input[type=submit] {
    display: inline-block;
    color: white;
    font-size: 18px;
    color: #7a8195;
    min-width: 200px;
    color: white;
    font-weight: 700; }

.auth-form {
  margin-top: 30px; }

.sec-header {
  font-size: 23px;
  font-family: 'Open sans';
  font-weight: bold;
  color: #7a8195; }

.login {
  width: 450px;
  display: table;
  margin: 0 auto;
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-bottom: 30px; }
  .login a {
    font-family: 'Open Sans';
    font-size: 12px;
    margin: 3px 0 10px;
    display: inline-block; }

.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #465772;
  padding: 15px;
  color: #fff;
  font-size: 20px; }
  .legend:after {
    content: "";
    background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 352px -16px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; }

.input {
  position: relative;
  width: 80%;
  margin: 15px auto; }
  .input span {
    position: absolute;
    display: block;
    color: #d4d4d4;
    left: 10px;
    top: 14px;
    font-size: 24px; }
  .input input {
    font-style: 'OpenSans';
    width: 100%;
    padding: 15px 5px 15px 50px;
    display: block;
    border: 1px solid #EDEDED;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #a1a1a1;
    font-size: 18px; }
    .input input:focus {
      padding: 15px 5px 15px 10px;
      outline: 0;
      border-color: #465772; }
    .input input::-webkit-input-placeholder {
      color: red; }
    .input input::-moz-placeholder {
      color: red; }
    .input input:-ms-input-placeholder {
      color: red; }
    .input input::placeholder {
      color: grey; }

.input + .input i {
  margin-left: 5px; }

.text-editor {
  margin: 20px 0; }

  .admin-panel {

  }