
html {
  height: 100%;
  font-size: 100%; }

body {
  font: 14px/20px 'Open Sans', Arial, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  color: black; }

header {
  background-color: orange;
}
footer {
  background-color: lightgreen;
}
table td {border: 1px solid black;}